@model IEnumerable<AgriEnergyConnect.Data.Models.Product>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Production Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.ProductionDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Home/EmployeeHome" class="btn btn-secondary">Go back to Home</a>
