@{
    ViewData["Title"] = "Employee Home";
}

<h1>Hello @User.Identity.Name, welcome back.</h1>

<a href="/Employees/AddFarmer" class="btn btn-primary">Add Farmer</a>
<a href="/Employees/ViewProducts" class="btn btn-secondary">View Products</a>
