@{
    ViewData["Title"] = "Farmer Home";
}

<h1>Hello @User.Identity.Name, welcome back.</h1>

<a href="/Products/AddProduct" class="btn btn-primary">Add Product</a>
<a href="/Products/ViewProducts" class="btn btn-secondary">View Products</a>
