@model string

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
@if (Model == "Employee")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="EmployeeHome">Employee Menu</a>
    </li>
}
else if (Model == "Farmer")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FarmerHome">Farmer Menu</a>
    </li>
}
